@import url("https://fonts.googleapis.com/css?family=Bitter|Raleway");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #41848f;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bitter", serif;
}

a {
  color: #0a1c28;
}

.header {
  padding: 1em 2em;
  background-color: #97c0b7;
}

.header h1 {
  margin: 0;
  margin-bottom: 0.25em;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  padding-right: 1em;
  list-style: none;
}

.page-title {
  padding: 0.5em 2em;
  margin: 0;
  text-transform: capitalize;
}

.page-title__sub {
  font-size: 0.75em;
}

.posts {
  padding: 0 2em;
}

.posts > li {
  list-style: none;
}

.post__detail,
.post-teaser,
.comment,
.edit-form {
  display: flex;
  padding: 1em;
  margin: 0 2em 2em;
  background-color: #eee9d1;
  border-radius: 0.5em;
}

.post__vote,
.post-teaser__vote,
.comment__vote {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  text-align: center;
}

.post__vote button,
.post-teaser__vote button {
  margin: 0.5em 0;
}

.post {
  margin-bottom: 3em;
}

.post h2,
.posts h2 {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.post__author-details,
.post-teaser__author-details {
  font-size: 0.8em;
}

.comment__author {
  margin-top: 0;
}

.edit__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit__form input,
.edit__form textarea {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.main-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5em 2em;
}

.main-actions__order {
  padding-top: 0.5em;
}

.button {
  background-color: #0a1c28;
  color: #ffffff;
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 0;
  font-size: 1rem;
  line-height: 1.2rem;
  text-decoration: none;
  transition: background-color 0.2s;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #334e60;
}

.fourohfour {
  text-align: center;
}
